.btn{
    width:10vw;
}

.navbar-nav li {
    padding-left:14vw;
    
}

.navbar-nav li :hover{
    color: blue;
}

.logo{
    color:lawngreen;
    font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", "sans-serif";
}

